[data-theme="dark"] {
  $main-font-color: #d1cdc7;
  $body-bg-color: #222324;
  $navbar-bg-color: #292c2e;
  $navbar-link-color: rgba(232, 230, 227, 55);
  $navbar-brand-color: rgba(232, 230, 227, 90);
  $navbar-brand-color-lighter: rgba(232, 230, 227, 70);
  $primary: #2f68bd;
  $danger: #c94552;

  body {
    background-color: $body-bg-color;
    color: $main-font-color;
  }

  .bg-light {
    background-color: $navbar-bg-color !important;
  }

  .btn-primary {
    background-color: $primary;
  }

  .btn-danger {
    background-color: $danger;
  }

  .navbar-brand {
    color: $navbar-brand-color;

    &:hover, &:focus {
      color: $navbar-brand-color-lighter;
    }
  }

  .nav-link {
    color: $navbar-link-color;

    &:hover, &:focus {
      color: $navbar-brand-color-lighter;
    }
  }

  .table {
    color: $main-font-color;
  }

  .form-control {
    background-color: $navbar-bg-color;
    color: $main-font-color;
    border-color: $navbar-brand-color-lighter;

    &:focus {
      background-color: $navbar-bg-color;
      color: $main-font-color;
    }
  }
}
